.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2rem;
}
.SemLista {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.SemLista h1 {
	width: 100%;
	text-align: center;
}
@media (max-width: 800px) {
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2rem;
	}
}
@media (max-width: 600px) {
	.container {
		display: block;
	}
}
